<div id="sidebar">
	<ul id="sidebar-nav">
		<li><%= currentUser.firstName + ' ' +currentUser.lastName%></li>
		<li><a href="/admin/profile">My Profile</a></li>
		<li><a href="/admin/dashboard">Dashboard</a></li>
		<li><a href="/admin/agents">Agents</a></li>
		<li><a href="/admin/donations/pending">Pending Requests</a></li>
		<li><a href="/admin/donations/previous">Previous Requests</a></li>
		<li><a href="/auth/logout" class="btn">Log out</a></li>
	</ul>
</div>