<div id="sidebar">
	<ul id="sidebar-nav">
		<li><%= currentUser.firstName + ' ' +currentUser.lastName%></li>
		<li><a href="/donor/profile">My Profile</a></li>
		<li><a href="/donor/dashboard">Dashboard</a></li>
		<li><a href="/donor/donate">Donate</a></li>
		<li><a href="/donor/donations/pending">My Pending Requests</a></li>
		<li><a href="/donor/donations/previous">My Previous Requests</a></li>
		<li><a href="/auth/logout" class="btn">Log out</a></li>
	</ul>
</div>