<section class="py-3 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <img src="/assets/images/medicalbg.jpg">
        <p class="lead text-white ">A user-friendly platform that allows individuals to make secure online donations, track their contributions, and view real-time updates on how their donations are being used.
        <p>
          <a href="/auth/login" class="btn btn-primary my-2">Login</a>
          <a href="/auth/signup" class="btn btn-secondary my-2">Sign Up</a>
        </p>
      </div>
    </div>
  </section>